---
import { Image } from "astro:assets";
import Menu from "../ul/Menu.astro";
---

<header class="border-b border-b-gray-200">
  <div class="mx-auto flex max-w-[1100px] justify-between px-4 py-6">
    <a href="/" class="transition-all hover:opacity-80"
      ><Image src="/favicon.svg" width={32} height={32} alt="Logo" /></a
    >
    <Menu />
  </div>
</header>
