---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Button from "../components/ul/Button.astro";
---

<Layout title="Astro Tailwind starter">
  <main
    class="mx-auto w-[calc(100%-40px)] max-w-[1100px] md:w-[calc(100%-72px)] md:pt-16"
  >
    <p>Test Husky</p>
    <div class="grid place-items-center gap-8">
      <h1 class="pt-10 text-center text-4xl font-bold lg:text-5xl">
        Template for creating websites<br />with <span class="text-orange-500"
          >Astro</span
        > + <span class="text-sky-500">Tailwind CSS</span>
      </h1>
      <p class="mx-auto max-w-lg text-gray-600 md:max-w-2xl md:text-center">
        This is a template using Astro and TailwindCSS. Prettier, ESLint, and
        Husky are installed, so you can start developing right away without
        having to build an environment.
      </p>
      <p class="mx-auto max-w-lg text-gray-600 md:max-w-full md:text-center">
        AstroとTailwindCSSを使用したテンプレートです。<br
        />Prettier・ESLint・Huskyを導入しているため、環境構築不要ですぐに開発することができます。
      </p>

      <Button>
        Get template
        <Image
          src="/external-link.svg"
          alt="GitHub Link"
          width={16}
          height={16}
          class="ml-1 stroke-white"
        />
      </Button>

      <Image
        src="/astro-image.svg"
        alt="Hero Image"
        width={480}
        height={480}
        class="animate-bounceAstro pt-2 md:pt-4"
      />
    </div>
  </main>
</Layout>
