---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Button from "../components/ul/Button.astro";
---

<Layout title="Astro Tailwind starter">
  <main
    class="w-[calc(100%-40px)] md:w-[calc(100%-72px)] max-w-[1100px] mx-auto"
  >
    <div class="grid place-items-center gap-8">
      <h1 class="pt-10 text-4xl lg:text-5xl font-bold text-center">
        Template for creating websites<br />with <span class="text-orange-500"
          >Astro</span
        > + <span class="text-sky-500">Tailwind CSS</span>
      </h1>
      <p class="max-w-lg md:max-w-2xl mx-auto md:text-center text-gray-600">
        This is a template using Astro and TailwindCSS. Prettier, ESLint, and
        Husky are installed, so you can start developing right away without
        having to build an environment.
      </p>
      <p class="max-w-lg md:max-w-full mx-auto md:text-center text-gray-600">
        AstroとTailwindCSSを使用したテンプレートです。<br
        />Prettier・ESLint・Huskyを導入しているため、環境構築不要ですぐに開発することができます。
      </p>

      <Button>
        Get template
        <Image
          src="/external-link.svg"
          alt="External Link"
          width={16}
          height={16}
          class="ml-1 stroke-white"
        />
      </Button>

      <Image
        src="/astro-image.svg"
        alt="Hero Image"
        width={500}
        height={500}
        class="pt-2 md:pt-6 animate-bounceAstro"
      />
    </div>
  </main>
</Layout>
