---
import { Image } from "astro:assets";
---

<nav>
  <ul class="flex gap-3">
    <li>
      <a href="https://github.com/H-ymt" class="transition-all hover:opacity-80"
        ><Image src="/github.svg" width={28} height={28} alt="GitHub" /></a
      >
    </li>
    <li>
      <a
        href="https://twitter.com/Hy1272"
        class="transition-all hover:opacity-80"
        ><Image
          src="/twitter-x.svg"
          width={28}
          height={28}
          alt="X/Twitter"
        /></a
      >
    </li>
  </ul>
</nav>
